@using Escuelas.UI.Helpers;

@{
    ViewBag.Title = "Listados";
}

<h2>Listados</h2>

@*@using (Html.BeginForm())
{
    Trayendo el Relevamiento que corresponda...
    
    @Html.ActionImage("ExportPDF", new { relevamientoId = item.ID, seleccionlistado = 1},"~/Images/ico/pdf24.ico","Exportar a PDF")
    @Html.ActionImage("ExportPDF", new { relevamientoId = item.ID, seleccionlistado = 2}, "~/Images/ico/pdf24.ico", "Exportar a PDF") 

    
}*@