@{
    ViewBag.Title = "Proyecto SIRET";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
               
            </p>
        </div>
    </section>
}
    <div style="height:300px">
        <h5>Descripción</h5>
        Este Proyecto tiene como objetivo automatizar y agilizar el relevamiento de las escuelas estatales 
        de la Republica Argentina mediante una Aplicación Web facil de acceder y utilizar. 
    </div>