@{
    ViewBag.Title = "Listado de Roles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
            </p>
        </div>
    </section>
}
<div class="spacerBody">
    <div class="table">
        @foreach (string s in Model)
        {
            <div class="tr">
                <div class="td">
                    @s
                    <span onclick="return confirm('Esta seguro de eliminarlo?')">
                        <a href="/Account/RoleDelete?RoleName=@s" class="delLink">
                            <img src="/images/deleteicon.gif" alt="Delete" class="imgBorder0" />
                            Eliminar</a>
                    </span>
                </div>
            </div>
        }
    </div>
</div>
