@{
    ViewBag.Title = "Contacto";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
               
            </p>
        </div>
    </section>
}

<section class="contact">
    <header>
        <h3>Telefono</h3>
    </header>
    <p>
        <span class="label">Administracion:</span>
        <span>425.555.0100</span>
    </p>

</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">General:</span>
        <span><a href="mailto:General@example.com">General@example.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Direccion</h3>
    </header>
    <p>
        Avenida de Mayo 555<br />
        Buenos Aires, Argentina.
    </p>
</section>